{% extends 'main/layout.html' %}

{% block title %}Просмотр записей{% endblock %}

{% block content %}
    <div class="features">
        <h1>Просмотр записей</h1>
        {% if rec %}
            {% for el in rec %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}

        {# Комментарий #}
    </div>
{% endblock %}